@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"> Bilişim Akademi </h1>
    <p> 
        <a class="btn btn-primary" href="/Kurs">Uygula</a>
    </p>
</div>
