@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"> Bilişim Akademi </h1>
    <p> 
        <a class="btn btn-primary" asp-controller="Kurs" asp-action="Kayit">Kayıt Ol</a>
    </p>
</div>
