@model Aday


<div class="display-6">
    Kursiyer Kayıt
</div>

<form>
    <div class="form-group my-2">
        <label>E-Posta</label>
        <input name="Eposta" class="form-control">
    </div>

    <div class="form-group my-2">
        <label>İsim</label>
        <input name="Isim" class="form-control">
    </div>

    <div class="form-group my-2 ">
        <label>Soyisim</label>
        <input name="SoyIsim" class="form-control">
    </div>

    <div class="form-group my-2 ">
        <label>Yaş</label>
        <select name="Yas">
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            <option value="25">25</option>
        </select>   
    </div>

    <div>
        <button class="btn btn-primary" type="submit">Başvuru Yap</button>
    </div>
    
</form>