@model Aday


<div class="display-6">
    Kursiyer Başvuru Formu
</div>

<form method="post" asp-action="Kayit">
    <div class="form-group my-2">
        <label asp-for="Eposta"></label>
        <input asp-for="Eposta" class="form-control">
    </div>

    <div class="form-group my-2">
        <label asp-for="Isim"></label>
        <input asp-for="Isim" class="form-control">
    </div>

    <div class="form-group my-2 ">
        <label asp-for="SoyIsim"></label>
        <input asp-for="SoyIsim" class="form-control">
    </div>

    <div class="form-group my-2 ">
        <label asp-for="Yas"></label>
        <select asp-for="Yas" class="form-control">
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            <option value="25">25</option>
        </select>
    </div>

    <div>
        <fieldset>
            <legend>Bir Kurs Seçiniz</legend>
            <p>
                <input id="python" type="radio" asp-for="SecilenKurs" value="Python" />
                <label>Python</label>
            </p>
            <p>
                <input id="java" type="radio" asp-for="SecilenKurs" value="Java" />
                <label>Java</label>
            </p>
            <p>
                <input id="swift" type="radio" asp-for="SecilenKurs" value="Swift" />
                <label>Swift</label>
            </p>
        </fieldset>
    </div>

    <div>
        <button class="btn btn-primary" type="submit">Başvuru Yap</button>
        <a class="btn btn-warning" asp-controller="Home" asp-action="Index">Anasayfa</a>
    </div>

</form>